@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}
header {
  width: 50%;
}
body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.container {
  min-height: 100vh;
}
.container img {
  width: 95%;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
h1 {
  font-weight: 600;
  color: hsl(0%, 0%, 100%);
  padding-bottom: 0.6rem;
  text-align: center;
  color: white;
}
p {
  color: white;
  padding-bottom: 1rem;
}
h3 {
  font-weight: 200;
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}
.butt {
  display: flex;
  justify-content: center;
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
  cursor: pointer;
}
button:hover span {
  color: white;
}
button {
  width: 60%;
  padding: 0.8rem;
  border-radius: 30px;
}
span {
  color: hsl(257, 40%, 49%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  justify-content: center;
}
footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.8rem;
}
.face {
  display: inline-flex;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.face:hover{
    background-color: hsl(300, 69%, 71%);
}
@media (min-width: 1080px) {
    body{
        width: 100%;
        background-image: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{
      width: 30%;
    }
    .parent{
      display: flex;
      flex-direction: row;
      padding-bottom: 0rem;
    }
    .child{
      display: flex;
      flex-direction: column;
      width: 40%;

    }
    .container img{
        width: 50%;
        padding-right: 5rem;
    }
    h1{
      width: 80%;
      text-align: left;
      padding-top: 5rem;
    }
    h3{
      width: 83%;
      text-align: left;
    }
    .butt{
      width: 50%;
      justify-content: flex-start;
    }
    footer{
      justify-content: end;
      padding-right: 9rem;
    }
    


}
